
.explore {
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c7eeee, #a2e6e0,#c7d0ec,#9ab3e0, #6ec6cc);
  }
  .explore1 {
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 241, 215);
  }
  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(92, 121, 14);
  }

  .button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
  }
  .but{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: antiquewhite;
    width: 100%;
    font-size: 1.5rem;
 
  }
 
 
  
  .card {
    width: calc(50% - 20px);
    background-color: rgb(224, 247, 161);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    color: #666;
  }
  .map{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%

  }