.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 3rem;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: row;
    font-size: 5rem;

  }
  
  .form-container label {
    margin-bottom: 10px;
  }
  
  .form-container input[type="number"],
  .form-container input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-container button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .title{
    
    justify-content: center;
    align-items: center;
  }
.form1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: linear-gradient(135deg, #c7eeee, #a2e6e0,#c7d0ec,#9ab3e0, #6ec6cc);

    margin-top:-1.5rem;
}
.but{
    margin: 2rem;
    width:80%;
    height: 2em;
}
  