.result-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(135deg, #d1e6ec, #59b9a5, #67e6d0); 
  }
  
  .result-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .result-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .result-container input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .message div {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .level-image{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;

  }
  


